<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome to the Dashboard</h1>
    <% if (user) { %>
    <p>xin chào , <%= user.name %>!</p>
    <% } else { %>
    <p>Please log in to access your dashboard.</p>

    <a href="/logout">Logout</a>
  </body>
</html>
